body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  	font-family: 'jdfont';
  	src: URL('j.d.ttf') format('truetype');
}

.para-text-div {
    border-style: solid;
    border-color: #D6B656;
    border-radius: 12px;
    background-color: #FFF2CC;
    padding: 5px;
}

.para-text {
    margin-bottom: 0px;
}

.general-qa-view {
    border-style: solid;
    border-color: #6C8EBF;
    border-radius: 12px;
    background-color: #DAE8FC;
    padding: 5px;
}

.general-qa-text {
    margin-bottom: 0px;
}

.specific-qa-view {
    border-style: solid;
    border-color: #B85450;
    border-radius: 12px;
    background-color: #F8CECC;
    padding: 5px;
}

.specific-qa-text {
    margin-bottom: 0px;
}

.squashtitleemph {
  	font-family: 'jdfont', cursive;
}

#top-p-slider-paraphrase .slider-selection {
	background: #82B366;
}

#top-p-slider-style .slider-selection {
	background: #6C8EBF;
}

#specific-slider .slider-selection {
	background: #B85450;
}

.slider-track-high {
	background: #CCCCCC;
}

.general-button-div {
	display: flex;
	align-items: center;
	justify-content: center;
}


.cell-completed {
  color: #FFFFFF;
  background: #2e7d32;
}

.cell-pending {
  color: #000000;
}

.toggle-div {
  font-size: 13pt;
  height: 100%;
  width: 100%;
  display: flex;
}

.toggle-sub-div {
  padding: 2px;
  margin: 2px;
}

.precomputed-div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.dropdown-style-menu {
  width: 60%
}